html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
}
.container {
  max-width: 500px;
  text-align: center;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container h2 {
  margin: 0;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}
.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}
.form-group select,
.form-group input[type="text"],
.form-group input[type="submit"],
.response-container button {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.form-group input[type="submit"],
.response-container button {
  background-color: #0080ff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form-group input[type="submit"]:hover,
.response-container button:hover {
  background-color: #0066cc;
}
.response-container {
  margin-top: 20px;
}
.response-container p {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}
.response-container .valor {
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px;
  color: #0080ff;
}
.response-container .valor-desconto {
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px;
  color: #0080ff;
}
.response-container form {
  margin-top: 20px;
}
@media (max-width: 600px) {
  .container {
    padding: 20px;
  }
  .container h2 {
    font-size: 20px;
  }
  .form-group select,
  .form-group input[type="text"],
  .form-group input[type="submit"],
  .response-container button {
    padding: 10px;
  }
  .response-container p {
    font-size: 14px;
  }
  .response-container .valor {
    font-size: 18px;
  }
}
.beneficios {
  margin: 30px auto;
  max-width: 500px;
}
.beneficios ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.beneficios ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.beneficios ul li::before {
  content: "✅";
  font-size: 14px;
}
.beneficios ul li.no-mark::before {
  content: "❌";
  font-size: 14px;
}
.beneficios ul li span {
  margin-left: 2px;
}
.beneficios h3 {
  margin-bottom: 20px;
}
.container {
      position: relative;
    }
.header {
      background-color: white;
      color: #333;
      padding: 10px;
      text-align: center;
    }
.header img {
      max-width: 100%;
      max-height: 60px; 
      margin-top: 10px; 
    }
