<!DOCTYPE html>
<html>
  <head>
    <title>Cotações Hapvida MAceió</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Cotação Hapvida Maceió</h2>
      <form action="/cotacao" method="post">
        <div class="form-group">
          <label for="idade">Idade:</label>
          <input
            type="text"
            id="idade"
            name="idade"
            placeholder="Digite sua idade (separadas por vírgula)"
          />
        </div>
        <div class="form-group">
          <label for="plano">Plano:</label>
          <select id="plano" name="plano">
              <option value="Selecione o plano">Selecione o plano</option>
              <option value="ambulatorial (pessoa física) - Sem coparticipação, exceto terapias ">21028 - Ambulatorial (pessoa física) - Sem coparticipação, exceto terapias</option>
              <option value="ambulatorial (pessoa física) - Com coparticipação">11330 - Ambulatorial (pessoa física) - Com coparticipação</option>
              <option value="nosso plano enfermaria (pessoa física) - Sem coparticipação, exceto terapias">21057 - Nosso Plano Enfermaria (pessoa física) - Sem coparticipação, exceto terapias</option>
              <option value="nosso plano enfermaria (pessoa física) - Com coparticipação">13299 - Nosso Plano Enfermaria (pessoa física) - Com coparticipação</option>
              <option value="nosso plano apartamento (pessoa física) - Sem coparticipação, exceto terapias">21058 - Nosso Plano Apartamento (pessoa física) - Sem coparticipação, exceto terapias</option>
              <option value="nosso plano apartamento (pessoa física) - Com coparticipação">13298 - Nosso Plano Apartamento (pessoa física) - Com coparticipação</option>
              <option value="ambulatorial (pessoa jurídica) - Sem coparticipação, exceto terapias">21217 - Ambulatorial (pessoa jurídica) - Sem coparticipação, exceto terapias</option>
              <option value="ambulatorial (pessoa jurídica) - Com coparticipação">11789 - Ambulatorial (pessoa jurídica) - Com coparticipação</option>
              <option value="enfermaria (pessoa jurídica) - Sem coparticipação, exceto terapias">21218 - Nosso Plano Enfermaria (pessoa jurídica) - Sem coparticipação, exceto terapias</option>
              <option value="enfermaria (pessoa jurídica) - Com coparticipação">11791 - Nosso Plano Enfermaria (pessoa jurídica) - Com coparticipação</option>
              <option value="apartamento (pessoa jurídica) - Sem coparticipação, exceto terapias">21219 - Nosso Plano Apartamento (pessoa jurídica) - Sem coparticipação, exceto terapias</option>
              <option value="apartamento (pessoa jurídica) - Com coparticipação">11790 - Nosso Plano Apartamento (pessoa jurídica) - Com coparticipação</option>
          </select>
        </div>
        <div class="form-group">
          <input type="submit" value="Cotar" />
        </div>
      </form>
    </div>
  </body>
</html>
