<!DOCTYPE html>
<html>
  <head>
    <title>Cotação Hapvida</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
    <div class="header">
      <img src="{{ url_for('static', filename='img/hap.png') }}" alt="Logo" />
    </div>
    <div class="container">
      <h2>Cotação Hapvida</h2>
      <div class="response-container">
        {% if valores %}
        <div class="beneficios">
          <h3>Benefícios do plano {{ plano_selecionado }}:</h3>
          {% if plano_selecionado == 'nosso plano enfermaria (pessoa física) - Sem coparticipação, exceto terapias' or plano_selecionado == 'nosso plano enfermaria (pessoa física) - Com coparticipação' or plano_selecionado == 'nosso plano apartamento (pessoa física) - Sem coparticipação, exceto terapias' or plano_selecionado == 'nosso plano apartamento (pessoa física) - Com coparticipação'%}
          <ul>
            <li><span>Urgência e emergência</span></li>
            <li><span>Consultas</span></li>
            <li><span>Exames</span></li>
            <li><span>Odontologia</span></li>
            <li><span>Internações</span></li>
            <li><span>Cirurgias</span></li>
          </ul>
          {% elif plano_selecionado == 'ambulatorial (pessoa física) - Sem coparticipação, exceto terapias' or plano_selecionado == 'ambulatorial (pessoa física) - Com coparticipação'%}
          <ul>
            <li><span>Urgência e emergência</span></li>
            <li><span>Consultas</span></li>
            <li><span>Exames</span></li>
            <li><span>Odontologia</span></li>
            <li class="no-mark"><span>Internações</span></li>
            <li class="no-mark"><span>Cirurgias</span></li>
          </ul>
          {% elif plano_selecionado == 'ambulatorial (pessoa jurídica) - Sem coparticipação, exceto terapias' or plano_selecionado == 'ambulatorial (pessoa jurídica) - Com coparticipação'%}
          <ul>
            <li><span>Urgência e emergência</span></li>
            <li><span>Consultas</span></li>
            <li><span>Exames</span></li>
            <li class="no-mark"><span>Internações</span></li>
            <li class="no-mark"><span>Cirurgias</span></li>
          </ul>
          {% elif plano_selecionado == 'enfermaria (pessoa jurídica) - Sem coparticipação, exceto terapias' or plano_selecionado == 'enfermaria (pessoa jurídica) - Com coparticipação' or plano_selecionado == 'apartamento (pessoa jurídica) - Sem coparticipação, exceto terapias' or plano_selecionado == 'apartamento (pessoa jurídica) - Com coparticipação'%}
          <ul>
            <li><span>Urgência e emergência</span></li>
            <li><span>Consultas</span></li>
            <li><span>Exames</span></li>
            <li><span>Internações</span></li>
            <li><span>Cirurgias</span></li>
          </ul>
          {% else %}
          <p>Benefícios indisponíveis para o plano selecionado.</p>
          {% endif %}
        </div>

        <p>
          Valores do plano <strong>{{ plano_selecionado }}</strong> para cada
          idade:
        </p>
        {% for idade, detalhes in valores.items() %} {% for plano in
        detalhes['plano'] %}
        <p>
          Idade: {{ idade }}, Valor do plano: R$ {{ '{:.2f}'.format(plano) }}
        </p>
        {% endfor %} {% endfor %} {% if desconto_aplicado %}
        <p class="valor-desconto">
          Valor Total com Desconto: R$ {{ total_valor }}
        </p>
        {% else %}
        <p class="valor">Valor Total: R$ {{ total_valor }}</p>
        {% endif %} {% else %}
        <p>Nenhum valor disponível.</p>
        {% endif %}

        <form action="/" method="get">
          <div class="form-group">
            <button type="submit">Nova Cotação</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
